/target/*
data/
.idea
.Logs
spring-boot-web-jsp.iml
.project
.settings
.classpath
.springBeans
.DS_Store

hibernate*

*.class
*.iml

src/main/resources/static/html/output.html

application-test.properties
application.properties